.swiper-button-next,
.swiper-button-prev {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  padding: 4px;
  overflow: hidden;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  &::after {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    transition: all 0.4s ease;
  }
  &:hover {
    width: 42px;
    height: 42px;
    &::after {
      font-size: 2rem;
    }
  }
}
