/* css header */
.navbar {
  display: flex;
  height: 3.2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 -12px;
}

.navbar__list,
.navbar__lis-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -6px;
}

.navbar__list-item {
  display: inline-block;
  color: white;
  position: relative;
  margin: 0 1.2rem 0rem 0.6rem;
  padding: 6px 0;
}

.navbar__list-item:hover .navbar__link {
  opacity: 0.9;
  color: white;
}

.navbar__list-item:hover .navbar__link--small::after {
  width: 100%;
}
.navbar__link {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__link i {
  margin-right: 4px;
}

.navbar__link--small {
  position: relative;
}

.navbar__link--small::after {
  content: " ";
  position: absolute;
  background-color: #fff;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0px;
  transition: all 0.3s ease;
}

.navbar__link--bold {
  font-weight: 500;
}

.navbar__link--small {
  font-size: 1.2rem;
  font-weight: 200;
}

.navbar__list-item--separated::after {
  content: "";
  display: block;
  height: 1.5rem;
  border: 0.1rem solid #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -0.8rem;
}

.navbar__list-item:hover .navbar__qr {
  display: block;
}

.navbar__qr {
  display: none;
  width: 186px;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: notify_move ease 0.3s;
  will-change: animation;
}

.navbar__qr-code {
  width: 100%;
}

.navbar__qr-link {
  display: flex;
  justify-content: space-around;
}

.navbar__qr-link-download img {
  height: 15px;
}

.navbar__list-item:hover .header__notify {
  display: block;
}

.header__notify {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  width: 400px;
  background-color: #fff;
  padding: 20px 12px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform-origin: top right;
  animation: notify_move ease 0.3s;
  will-change: animation;
}

@keyframes notify_move {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify::before {
  content: "";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #fff;
  position: absolute;
  right: 10px;
  top: -10px;
  box-sizing: border-box;
  z-index: 100;
}

.header__notify::after {
  content: "";
  width: 100px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 100;
}

.header__notify__header {
  color: #888;
  margin: 0 0 16px 0;
  font-weight: 350;
  font-size: 16px;
}

.header__notify__body {
  display: flex;
  margin-top: 12px;
}

.header__notify__description {
  padding: 0 12px;
}

.header__notify__img {
  height: 50px;
  width: 50px;
}

.header__notify__title {
  color: #333;
  font-weight: 350;
  margin: 0;
  font-size: 14px;
}

.header__notify__content {
  color: #bbb;
  font-weight: 300;
  margin: 0;
  margin-top: 4px;
  font-size: 12px;
}

.header__notify__more {
  display: block;
  text-align: center;
  width: 100%;
  padding: 16px 0 0 0;
  color: #666;
}

.header__bottom {
  width: 100%;
}

.header__bottom-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 3.2rem;
  color: white;
  text-decoration: none;
}

.header__bottom-body {
  padding-top: 16px;
}

.form-search {
  position: relative;
}

.form-search__input {
  width: 100%;
  overflow: hidden;
  height: 40px;
  border: none;
  font-size: 14px;
  outline: none;
  padding: 8px;
  font-weight: 300;
  border-radius: 2px;
}

.form-search__submit {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--colorPrimary);
  padding: 4px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  border-radius: 1px;
}

.form-search__submit:hover {
  opacity: 0.8;
  flex: 1;
}

.hearder__bottom-cart {
  display: inline-block;
  margin: 16% 32%;
  position: relative;
}

.hearder__bottom-cart-link {
  display: block;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.hearder__bottom-cart-link:focus {
  border: none;
  outline: none;
}

.header__bottom-show-cart {
  cursor: pointer;
  display: none;
  position: absolute;
  right: -15px;
  top: 150%;
  width: 390px;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform-origin: top right;
  animation: notify_move ease 0.3s;
  z-index: 2 !important;
}

.header__bottom-show-cart:before {
  content: "";
  position: absolute;
  top: -13px;
  right: 3px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 20px solid #fff;
}

.header__bottom-show-cart:after {
  content: "";
  height: 35px;
  width: 100%;
  position: absolute;
  top: -35px;
  right: 0;
}

.hearder__bottom-cart:hover .header__bottom-show-cart {
  display: block;
}

.header__bottom-no-cart-img {
  width: 100%;
}

.header__bottom-no-cart-notify {
  text-align: center;
  font-size: 1.4rem;
  color: var(--colorText);
}

#login-btn,
#logout-btn,
#register-btn {
  background-color: var(--colorPrimary);
  cursor: pointer;
  border: none;
}

#login-btn:focus,
#register-btn:focus,
#logout-btn:focus {
  outline: none;
}

.btn--cart {
  border: none;
  outline: none;
  background-color: transparent;
}

.header__bottom-cart__quantity {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: 0;
  background-color: rgb(253, 216, 53);
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 20px;
}

.header--bottom-has-cart__item {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 6px;
}

.header--bottom-has-cart__item__img {
  max-width: 20%;
}

.header--bottom-has-cart__item__img > img {
  width: 100%;
}

.header--bottom-has-cart__item__name {
  left: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
}

.header--bottom-has-cart__item__price {
  flex: 0 0 25%;
  max-width: 25%;
  color: var(--colorPrimary);
  font-size: 1.4rem;
}
