.login-goole button span {
  display: none;
}

.login-goole > div > div {
  padding: 0 !important;
}

.login-goole button > div {
  margin: 0 !important;
}

.login-goole button {
  padding: 6px 10px !important;
  border-radius: 50% !important;
}
.login-goole button:focus {
  border: none !important;
  outline: none !important;
}
